*{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: unset;
    color: unset;
}

.page-wrapper{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.header-wrapper{
    background: brown;
}

.header-top{
    background: rgb(126,215,232);
    width: 100%;
    margin: auto;
}

.header-top-left{
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 1%;
    margin-top: 2%;
}

.header-search{
    border-radius: 15px;
    font-size: 70%;
    margin: auto;
    outline: unset;
    vertical-align: top;
}

.text-search{
    width: 40%; 
    height: 100%; 
    border: none; 
    vertical-align: top; 
    background-color: rgb(201,236,244); 
    padding: 1% 2%;
}

.button-search{
    width: auto;  
    border: none; 
    vertical-align: top; 
    color: white; 
    background-color: rgb(42,78,87); 
    padding: 1% 3%;
}

.header-bottom{
    background: rgb(245,245,245);
    width: 100%;
    margin: auto; 
    padding: 0.5% 1.5%;
}

.header-bottom ul{
    text-align: center;
}

.header-bottom ul li{
    font-size: 70%;
    font-weight: bold;
    display: inline-block;
    margin: 1%;
}

.header-bottom-left ul li:hover{
    color: rgb(47,193,218);
}

.header-bottom-right{
    visibility: hidden;
    float: right;
    position: absolute;
}

ul li span{
    left: -20px;
    position: relative;
}

.body-wrapper{
    width: auto;
    margin: auto;
    margin-top: 1%;
}

.first-table{

    width: auto;
}

table{
    background: rgb(245,245,245);
    width: 100%;
    margin: auto;
    padding: 1% 1.5%;
    padding-top: 1%;
    border-spacing: unset;
    font-size: small;
}

th{
    background: rgb(47,193,218);
    color: white;
    font-weight: normal;
    padding: 1% 0%;
}

td{
    padding-right: 5%;
    font-size: x-small;
    padding: 1% 0%;
    padding-left: 1.5%;
}

td:hover{
    background: white;
}

#download-img{
    float: right;
    margin-top: 2px;
}

h3{
    margin-bottom: 1%;
}

.entry-box{
    margin: 1%;
}

.entry-types{
    width: auto;
    border-bottom: 2px solid rgb(47,193,218);
}

.entry{
    background: rgb(245,245,245);
    width: 49.5%;
    padding: 1% 0%;
    padding-bottom: unset;
    text-align: center;
    font-size: small;
    font-weight: bold;
}

.entry-left{
    display: inline-block;
    border-top-left-radius: 10px;
}

.entry-right{
    float: right;
    border-top-right-radius: 10px;
}

.sub-entry{
    font-size: xx-small;
    background: rgb(219,221,217);
    width: 42%;
    margin: auto;
    padding: 1.5% 0%;
}

.sub-entry:focus{
    background-color: rgb(47,193,218);
}

.entry-first{
    display: inline-block;
    margin-right: 1.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.entry-second{
    display: inline-block;
    margin-left: 1.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.entry-person{
    width: auto;
}

.person-box{
    width: auto;
    padding-top: 0.8%;
    margin: unset;
    border-bottom: 1px solid rgb(212, 205, 205);
}

.person-details{
    vertical-align: top;
    width: 70%;
    font-weight: bold;
}
 
.person-details p{
    font-size: 45%;
}

.person-details h5{
    font-size: x-small;
    font-weight: 900;
}

.person-details a{
    color: rgb(31, 180, 206);
}

.footer{
    font-size: 40%;
    background-color: rgb(114,114,114);
    padding: 1% 0.5%;
    padding-right: 2%;
}

.footer-left{
    display: inline-block;
}

.footer-left ul li{
    display: inline-block;
}

.footer-left ul li:first-child{
    margin-left: -6%;
}

.footer-right{
    float: right;
}


@media only screen and (min-width:750px) {
    
    .header-search{
        font-size: medium;
    }

    .header-bottom-left{
        display: inline-block;
        width: 60%;
        margin: unset;
        padding-left: 1%;
    }

    .header-bottom ul{
        text-align: unset;
        margin: unset;
    }

    .header-bottom ul li span{
        left: unset;
        position: unset;
    }

    .header-bottom-left ul li{
        margin-right: 2%;
    }

    .header-bottom-left ul li:first-child{
        margin-left: -5%;
    }

    .header-bottom-right{
        visibility: visible;
        float: right;
        position: unset;
        width: 35%;
        height: auto;
    }

    .invites{
        float: left;
        font-size: x-small;
        width: 45%;
        height: auto;
        vertical-align: middle;
    }

    .requests{
        float: right;
        font-size: x-small;
        width: 43%;
        height: auto;
        vertical-align: middle;
    }

    #invites{
        vertical-align: middle;
        width: 9%;
        height: auto;
    }

    #requests{
        vertical-align: middle;
        width: 12%;
        height: auto;
    }

}

@media only screen and (min-width:1100px) {

    body{
        font-size: unset;
    }

    #tutangle{
        width: 20%;
    }

    .header-search{
        padding: 0.5% 0.5%;
        font-size: small;
    }








    .body-wrapper-left{
        background: rosybrown;
        width: 73%;
        height: auto;
        padding: 1%;
        display: inline-block;
    }

    .first-table{
        background: tomato;
        width: 30%;
        display: inline-block;
    }

    table{
        padding: unset;
    }

    th{
        text-align: left;
        padding: 3% 0%;
        padding-left: 4%;
        font-size: medium;
    }

    td{
        font-size: smaller;
        padding: 3% 0%;
        padding-left: 4%;
    }

    .entry-box{
        width: 65%;
        float: right;
        vertical-align: top;
        margin-top: -0.7%;
    }

    .body-wrapper-right {
        background: rosybrown;
        width: 25%;
        padding: 1%;
        float: right;
    }

    .second-table{
        vertical-align: top;
        float: right;
    }

    .second-table table{
        width: 100%;
    }

    .footer{
        margin-top: 1%;
        font-size: x-small;
    }

}