*{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: unset;
    color: unset;
}

.page-wrapper{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.header-wrapper{
    background: brown;
}

.header-top{
    background: rgb(126,215,232);
    width: 100%;
    margin: auto;
}

.header-top-left{
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 1%;
    margin-top: 2%;
}

.header-search{
    border-radius: 15px;
    font-size: 70%;
    margin: auto;
    padding: 2% 1%;
    outline: unset;
    vertical-align: top;
}

.header-bottom{
    background: rgb(245,245,245);
    width: 100%;
    margin: auto; 
  
}

.header-bottom ul{
    text-align: center;
}

.header-bottom ul li{
    font-size: 70%;
    font-weight: bold;
    display: inline-block;
    margin: 1%;
}

.header-bottom ul li span{
    left: -20px;
    position: relative;
}

.body-wrapper{
    width: auto;
    margin: auto;
    margin-top: 1%;
}

.first-table{

    width: auto;
}

table{
    background: rgb(245,245,245);
    width: 100%;
    margin: auto;
    padding: 0% 1.5%;
    padding-top: 1%;
    border-spacing: unset;
    font-size: small;
}

th{
    background: rgb(47,193,218);
    color: white;
    font-weight: normal;
}

td{
    padding-right: 5%;
    font-size: x-small;
}

td:hover{
    background: white;
}

#download-img{
    float: right;
    margin-top: 2px;
}

h3{
    margin-bottom: 1%;
}

.entry-box{
    margin: 1%;
}

.entry-types{
    width: auto;
    border-bottom: 2px solid rgb(47,193,218);
}

.entry{
    background: rgb(245,245,245);
    width: 49.5%;
    padding: 1% 0%;
    padding-bottom: unset;
    text-align: center;
    font-size: small;
    font-weight: bold;
}

.entry-left{
    display: inline-block;
    border-top-left-radius: 10px;
}

.entry-right{
    float: right;
    border-top-right-radius: 10px;
}

.sub-entry{
    font-size: xx-small;
    background: rgb(219,221,217);
    width: 42%;
    margin: auto;
    padding: 1.5% 0%;
}

.entry-first{
    display: inline-block;
    margin-right: 1.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.entry-second{
    display: inline-block;
    margin-left: 1.5%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.entry-person{
    width: auto;
}

.person-box{
    width: auto;
    padding-top: 0.8%;
    margin: unset;
    border-bottom: 1px solid rgb(212, 205, 205);
}

.person-details{
    vertical-align: top;
    width: 80%;
    font-weight: bold;
}
 
.person-details p{
    font-size: 45%;
}

.person-details h5{
    font-size: x-small;
    font-weight: 900;
}

.person-details a{
    color: rgb(31, 180, 206);
}